/* основний колір тексту rgba(117, 117, 117, 1) */
/* колір заголовків rgba(33, 33, 33, 1) */
/* фон білий rgba(238, 238, 238, 1) */
/*фон студія rgba(47, 48, 58, 1)*/
/* колір лого  чорний rgba(0, 0, 0, 1); синій rgba(33, 150, 243, 1) */
/* білий rgba(255, 255, 255, 1) */
/*фон кнопки rgba(245, 244, 250, 1);*/
/* footer телефон email rgba(255, 255, 255, 0.6) */
/* card bg #EEEEEE*/

:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-title-color: rgba(33, 33, 33, 1);
    --primary-white-color: rgba(255, 255, 255, 1);
    --bcg-gray-color: rgba(47, 48, 58, 1);
    --bcg-secondary-gray-color: rgba(245, 244, 250, 1);
    --logo-color: rgba(0, 0, 0, 1);
    --accenr-color: rgba(33, 150, 243, 1);
    --filter-btn-color: rgba(245, 244, 250, 1);
    --footer-white-color: rgba(255, 255, 255, 0.6);
    --bg-card: #EEEEEE;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    display: flex;
    align-items: center;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.hide {
    visibility: hidden;
    margin: 0;
    width: 10px;
} 

img {
    display: block;
}

/*logo*/

.logo {
    margin-right: 93px;

    color: var(--logo-color);
 
    font-family: 'Raleway', sans-serif;;
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
}

.logo-web  {
    color: var(--accenr-color);
}

/*navigation*/

.nav-list {
    display: flex;
    
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;  
}

.nav-list .item:not(:last-child) {
    margin-right: 50px;
}

.nav-list .link  {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-title-color);
    text-decoration: none;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list .item:not(:first-child){
    margin-left: 40px;
}

.contact-list .link,
.contact-list .tel {
    color: var(--primary-text-color);
    
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    text-decoration: none;
}

.nav-list .link:focus ,
.nav-list .link:hover,
.contact-list .link:focus,
.contact-list .link:hover,
.contact-list .tel:focus,
.contact-list .tel:hover {
    color: var(--accenr-color);
}

.nav-list .link.current {
    color: var(--accenr-color);
}

header {
    border-bottom: 1px solid #ECECEC;
}

/*page studio start*/

.main.section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*banner*/

.main {
    background-color: var(--bcg-gray-color);
}

.main .container {
    display: block;
}

.main-banner {
    width: 696px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--primary-white-color);

    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
}

.main .btn {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 24px;
    border-radius: 4px;

    background-color: var(--accenr-color);
    color: var(--primary-white-color);

    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    cursor: pointer;
}

/*section features*/

.section-list {
    display: flex;
}

.section .size {
    width: 270px;
}

.section .subtitle {
    margin: 0;

    color: var(--primary-title-color);

    font-size: 14px;
    line-height: 1.17;
}

.section-list p {
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}

.section-list .item:not(:last-child) {
    margin-right: 30px;
}

/*works*/


.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--primary-title-color);

    font-size: 36px;
    line-height: 1.17;
}

/*team*/

.team .container {
    flex-wrap: wrap;
}

.team {
    background-color: var(--bcg-secondary-gray-color);
}

.team-list {
    display: flex;
}

.team-list .item {
    border-radius: 0 0 4px 4px;
    background-color: #fff;
}

.team-list .item:not(:last-child) {
    margin-right: 30px;
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--primary-title-color);

    font-size: 36px;
    line-height: 1.17;
}

.team-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .subtitle {
    text-align: center;

    color: var(--primary-title-color);

    font-size: 16px;
    line-height: 1.17; 
    font-weight: 500;
}

.team-list p {
    text-align: center;
}
/*page studio end*/

/*page portfolio start*/

.section .container {
    flex-direction: column;
}

/*button filter*/

.btn-list {
    display: flex;
   
}

.btn {
    display: inline-block;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    color: var(--primary-title-color);
    background: var(--filter-btn-color);

    font-size: 16px;
    line-height: 1.63;
    font-weight: 500;
    cursor: pointer;
}

.btn-list .item:not(:last-child){
margin-right: 8px;
}
.btn:focus,
.btn:hover {
    color: var(--primary-white-color);
    background: var(--accenr-color);
}

/*portfolio*/

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    list-style: none;  
}

.portfolio-list .card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list .card:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list .card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.card a {
    display: flex;
    flex-direction: column;
}

.card-border {
    padding:20px 24px 20px 24px;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: var(--bg-card);
}

.portfolio-list a {
    text-decoration: none;
}

.portfolio-list .title {
    margin: 0;

    color: var(--primary-title-color);

    font-size: 18px;
    line-height: 2;
}

.portfolio-list .description {
    margin: 4px 0 0 0;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/*page portfolio end*/

/*footer*/

footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bcg-gray-color); 
}

.footer {
    display: block;
}

.footer .logo {
    margin-right: auto;

    color: var(--primary-white-color);
}

.footer-address {
    margin-top: 28px;
    margin-right: auto;
    width: 207px;

    color: var(--primary-white-color);
    font-size: 14px;
    font-style: normal;
}

.footer-list {
    margin-top: 12px;
}

.footer-list .item {
    margin-top: 12px;
}
.footer-list .link,
.footer-list .tel {
    color: var(--footer-white-color);
    font-weight: 400;
    text-decoration: none;
}

 